{block content}
<div class="container">
	<a class="homelink" href="{link :Homepage:default}"><h1 n:block=title>Spirit profile <sub>aplha</sub></h1></a>
	<div class="span-17 top">
		{control uploadProfile}
		<a href="{link :Homepage:default}"> <<< back <<< </a>
	</div>
</div>
